.learning {
    position: relative;
    height: 200px;   
}

.myBadge {
    position: absolute;
    top: 8px;
    right: 8px;
}

.navBar {
    position: sticky;
    top: 0;
}

.inRow {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
}